{% extends "craft_base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
{% if object.classification.has_picture %}
    <img src="{% static object.classification.name|imgsrc %}" width="36" height="36"/>
{% endif %}
<h1>{{ object.classification.name }}</h1>
<p>Amount: {{ object.amount }}</p>
<p>Price: {{ object.price }}</p>
<p>Currency: {{ object.currency }}</p>
<p>Seller: {% include "user_with_reputation.html" with user=object.seller %}</p>
<p>Created at: {{ object.created_at }}</p>
{% if has_buyer %}
    <p>Buyer: {% include "user_with_reputation.html" with user=object.buyer %}</p>
    {% if is_buyer %}
        <p>Seller character name: {{ object.seller.profile.character_name }}</p>
        {% if buyer_trade_open %}
            <a href="{% url 'crafts:craft-buyer-outcome' object.pk %}">Close trade</a>
        {% endif %}
    {% endif %}
    {% if is_seller %}
        <p>Buyer character name: {{ object.buyer.profile.character_name }}</p>
        {% if seller_trade_open %}
            <a href="{% url 'crafts:craft-seller-outcome' object.pk %}">Close trade</a>
        {% endif %}
    {% endif %}
{% else %}
    {% if is_seller %}
        <a href="{% url 'crafts:craft-select-buyer' object.pk %}">Select buyer</a>
        <a href="{% url 'crafts:craft-delete' object.pk %}">Delete</a>
    {% else %}
        {% if is_potential_buyer %}
        <form action="{% url 'crafts:craft-remove-potential-buyer' object.pk %}" method="POST">{% csrf_token %}
            <input type="submit" value="Remove yourself from potential buyers" />
        </form>
        {% else %}
        <form action="{% url 'crafts:craft-add-potential-buyer' object.pk %}" method="POST">{% csrf_token %}
            <input type="submit" value="Add yourself to potential buyers" />
        </form>
        {% endif %} 
    {% endif %}
    <p>Potential buyers</p>
    <ul>
    {% for potentialBuyer in object.potential_buyers %}
        <li>
            {% include "user_with_reputation.html" with user=potentialBuyer.buyer %}
        </li>
    {% empty %}
        <li>No potential buyers.</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}